.colorUno{
    background-color: #f587ea;
}

.colorDos{
    background-color:#beb981;
}

.colorTres{
    background-color: #f7f2cb;
}



.fuente{
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
  .fondo{
    background-image: url("../img/fondo.jpg");
    background-size:  top center;
    background-position: top center;
    background-attachment: fixed;
    padding: 25%;
  }
  .btn.btn-primary{
    background-color: #f360e4;
    border-color: #f587ea;
    color: white;
  }
  
